{{ $pages := .CurrentSection.Pages.ByWeight.Reverse }}
<article class="default">
  <header class="headline">
    {{- partial "content-header.html" . }}
  </header>
{{ partial "heading-pre.html" . }}{{ partial "heading.html" . }}{{ partial "heading-post.html" . }}

{{ partial "article-content.html" . }}
  {{ with $pages.Next . }}
    <div class="next"><a href="{{ .RelPermalink }}">{{ .LinkTitle }} <i class="fa fa-circle-right"></i></a></div>
  {{ end }}
  <footer class="footline">
    {{- partial "content-footer.html" . }}
  </footer>
</article>