@font-face {
  font-family: 'Sovngarde';
  src: url('/mgo-tutorial/images/SovngardeLight.woff2')
       format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --INTERNAL-CODE-INLINE-color: #eeeeee;
  --LOGO-font: Sovngarde, 'Roboto Flex';
  --LOGO-font-size: 0.8rem;
  --INTERNAL-MAIN-TITLES-H1-font: Sovngarde, 'Roboto Flex';
  --INTERNAL-MAIN-TITLES-H2-font: Sovngarde, 'Roboto Flex';
  --INTERNAL-MAIN-TITLES-H3-font: Sovngarde, 'Roboto Flex';
  --VARIABLE-LINK-color: #66adff;
  --mgo-gold: #d7b04b;
  --mgo-red: #ba2813;
  --mgo-blue: #2f81eb;
}

body {
  font-size: 1.2rem;
}

#R-homelinks {
  ul.collapsible-menu {
    &>li {
      &>a {
        display: flex;
      }
    }
  }
  svg {
    height: 20px;
    padding-right: 0.5em;
  }
}

#R-logo.R-default {
  column-gap: 1em;
  .logo-title {
    font-size: 2em;
    flex-shrink: 1;
    min-width: 0;
    text-align: start;
    text-wrap: auto;
    word-break: break-word;
    .line1 {
      display: block;
    }
    .line2 {
      display: block;
      font-size: 0.8em;
    }
  }
}

.cover {
  background-size: cover;
  background-position: center;
  padding: 2rem 0;
  h1 {
    text-shadow: rgba(0,0,0,0.8) 1px 0 8px;
    line-height: 0.8em;
    overflow-wrap: normal;
  }
}

h2 {
  line-height: 1em;
  .anchor {
    margin-top: 0;
  }
}

li {
  padding-bottom: 1rem;
}

.topbar-breadcrumbs {
  font-size: 1rem;
}

.flex {
  display: flex;
}

.file {
  display: inline-block;
  background-color: #d7b04b33;
  padding: 0 6px;
  border-radius: 10px;
  font-family: var(--INTERNAL-CODE-font);
}

.highlight {
  display: inline-block;
  font-weight: bold;
  background-color: #b9d5f3;
  color: black;
  padding: 0 6px;
}

input.readonly {
  pointer-events: none;
}

.separator, .mod {
  padding: 0.25rem 1rem;
  &.sub {
    margin-left: 2rem;
  }
  &.subsub {
    margin-left: 4rem;
  }
}
.separator {
  font-weight: bold;
  i.fa-folder {
    color: #ffd86b;
  }
  &.blue {
    background-color: #0460aa;
    color: white;
  }
  &.blue1 {
    background-color: #3c7be9;
    color: white;
  }
  &.blue2 {
    background-color: #508aeb;
    color: black;
  }
  &.blue3 {
    background-color: #70a3ee;
    color: black;
  }
  &.blue4 {
    background-color: #85b2f0;
    color: black;
  }
  &.blue5 {
    background-color: #99bff1;
    color: black;
  }
  &.blue6 {
    background-color: #aecdf4;
    color: black;
  }
  &.blue7 {
    background-color: #c0dbf5;
    color: black;
  }
}

.next {
  margin-top: 2rem;
  text-align: center;
  container-type: inline-size;
  a {
    display: inline-block;
    font-weight: bold;
    max-width: 600px;
    font-size: 4cqw;
    text-decoration: none;
    position: relative;
    color: #eee;
    line-height: 1;
    border-radius: 4rem;
    padding: 1.5rem;
    transition: all .2s;
    --bs1: -2px -2px 0 2px var(--mgo-gold);
    --bs2: 0 0 0 4px var(--mgo-red);
    --bs3: 0 0 2px 7px rgba(0, 0, 0, .05);
    box-shadow: var(--bs1), var(--bs2), var(--bs3);
  }
}

.btn-inline {
  display: inline-block;
  background-color: #0076ff33;
  padding: 0 6px;
  border-radius: 10px;
  font-family: var(--INTERNAL-CODE-font);
}

video {
  width: 100%;
}

div.img {
  margin: 0 auto 2rem;
  max-width: 650px;
  &.border {
    border: 1px solid var(--mgo-gold);
    background-color: #404040;
    .caption {
      text-align: left;
    }
  }

  &>img, &>a>img {
    width: 95%;
    max-width: 600px;
    &#img-01-settings-system {
      width: 489px;
    }
    &#img-02-system-about {
      width: 263px;
    }
  }
  .caption {
    align-items: center;
    justify-content: center;
    background: #d7b04b;
    color: black;
    padding: 1rem;
    box-shadow: 0px 5px 20px #000;
    font-size: 80%;
    text-align: center;
    width: 100%;
    .grow {
      flex: 1;
    }
    a {
      color: #005fcc;
      font-weight: bold;
    }
  }
}

.aside {
  clear: both;
  margin: 2rem auto;
  max-width: 50em;
  position: relative;
  padding-bottom: 1rem;
  text-shadow: rgba(0,0,0,0.8) 1px 0 1px;
  color: #fff;
  font-size: 1rem;
}
.aside h4 {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  color: #fff;
}
.aside .emoji {
  float: left;
  font-size: 400%;
  margin: 0 1rem;
}
.aside .body {
  padding: 0 1rem;
}
.aside a {
  color: #ffce00;
}
#body .aside a.highlight:after {
  background-color: #ffce00;
}
.aside code {
  background: rgba(64,64,64,0.2);
  color: #fff;
  font-size: 100%;
  padding: 2px;
}
.aside.aside-alert {
  background: linear-gradient(24deg,rgba(194, 42, 21, 0.3) 0%, rgba(185, 137, 41, 0.3) 100%, rgba(185, 137, 41, 0.3) 38%);
  h4 {
    background: rgba(54, 23, 14, 0.5);
  }
  .body {
    background-image: url("/mgo-tutorial/images/nightingales-bg.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
.aside.aside-btw {
  background-image: linear-gradient(24deg, rgba(43, 89, 195, 0.4) 0%, #77c8be66 100%);
  h4 {
    background: rgba(50, 50, 50, 0.3);
  }
  .body {
    background-image: url("/mgo-tutorial/images/akatosh-alpha.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
.aside.aside-info {
  background: #2A2A2A;
  background-image: linear-gradient(24deg,rgba(42, 42, 42, 1) 0%, rgba(79, 39, 28, 1) 48%, rgba(79, 62, 29, 1) 100%);
  h4 {
    background: rgba(54, 23, 14, 0.5);
  }
  .body {
    background-image: url("/mgo-tutorial/images/nightingales-bg.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
.aside.aside-danger {
  background-color: #cc2936;
  background-image: url("/mgo-tutorial/images/sayagata.png"), linear-gradient(24deg, #c92936 0%, #ebbab9 100%);
}
.aside.aside-danger h4 {
  background: rgba(201,41,54,0.4);
}