<div class="img {{ .Get "border" | default "" }}">
  <img id="img-{{ .Get "name" }}" src="/mgo-tutorial/images/{{ .Get "name" }}.{{.Get "type" | default "png" }}" srcset="/mgo-tutorial/images/{{ .Get "name" }}@2x.{{.Get "type" | default "png" }} 2x">
  {{ if len .Params | le 4 }}
  <div class="caption flex">
    <div>
      <img src="/mgo-tutorial/images/{{ .Get "icon" }}.{{.Get "type" | default "png" }}" srcset="/mgo-tutorial/images/{{ .Get "icon" }}@2x.{{.Get "type" | default "png" }} 2x">
    </div>
    <div class="grow">
      {{ .Inner | .Page.RenderString }}
    </div>
  </div>
  {{ else }}
  <div class="caption">{{ .Inner | .Page.RenderString }}</div>
  {{ end }}
</div>
